@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Montserrat";
    font-weight: 700;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

nav {
    background: #282828;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
}

.header__a {
    display: flex;
    column-gap: 30px;
}

.header__list {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.header__outlets {
    display: flex;
    column-gap: 25px;
}

.header__link {
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    color: #fff;
}

.header__baner {
    background: url(img/baner.png) no-repeat center / cover;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__title {
    font-family: "Prosto One";
    font-size: 100px;
    font-weight: 400;
    line-height: 75px;
    color: #fff;
}

.header__btn {
    padding: 13px 18px 13px 14px;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
    color: #171718;
    border-radius: 10px;
    border: none;
    outline: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    column-gap: 11px;
    margin-top: 38px;
}

main {
    background: #151515;
}

.main__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

main .container {
    padding: 30px 0 55px 0;
}

.main__box {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.two {
    display: flex;
    align-items: center;
    column-gap: 87px; 
}

.main__desc {
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 500;
    line-height: 26.82px;
    color: #fff;
    max-width: 538px;
    width: 100%;
}

.three {
    display: flex;
    align-items: center;
    column-gap: 13px;
}

.main__descs {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    color: #fff;
    width: 333px;
    /* width: 100%; */
}

.one {
    text-align: right;
}

.line {
    background: #C4C4C4;
    min-width: 61px;
    height: 1px;
}

.main__cards {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: 79px;
}

.main__card {
    padding: 15px 47px;
    background: #fff;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__card img {
    margin: 10px;
}

.main-card__title {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
}

.main-card__price {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.main-card__btn {
    background: #151515;
    padding: 7px 57px;
    outline: none;
    border: none;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    color: #fff;
}

footer {
    background: #282828;
}

footer .container {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}

.footer__list {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.footer__link {
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    color: #fff;    
}

.footer__payment {
    display: flex;
    column-gap: 29px;
}